{% extends 'base.html' %}

{% block style %}
    {% include 'product/snippets/css/product_card_css.html' %}
{% endblock style %}

{% block content %}
<div class="container-fluid" style="padding-left: 10%; padding-right: 10%;">
    {% include 'product/snippets/product_list_left.html' %}
    {% include 'product/snippets/product_list_header.html' %}
    {% include 'product/snippets/product_card.html' %}
</div>

{% endblock content %}

{% block javascript %}
<script>
    $(window).on('load', function(){
      $('.post-module').hover(function() {
        $(this).find('.description').stop().animate({
          height: "toggle",
          opacity: "toggle"
        }, 300);
      });
    });

    $('#dropdown-sort').each(function (key, dropdown) {
        var $dropdown = $(dropdown);
        $dropdown.find('.dropdown-menu a').on('click', function () {
            $dropdown.find('button').text('Urutkan Berdasarkan : ' + $(this).text());
        });
    });

    $('#btn-filter').on("click", function() {
        $('#sidebar-left').toggleClass('slide');  
        // $('.content').toggleClass('slide').css({"height" : window.innerHeight});
    })

    $('#close-filter').on("click", function() {
        $('#sidebar-left').toggleClass('slide');  
    })

    $(document).mouseup(function(e) 
    {
        var container = $("#sidebar-left");

        // if the target of the click isn't the container nor a descendant of the container
        if (!container.is(e.target) && container.has(e.target).length === 0 && container.hasClass("slide")) 
        {
            $('#sidebar-left').toggleClass('slide');
        }
    });
</script>
{% endblock javascript %}