<footer class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-3 p-4">
                <div style="text-align: center;">
                    <img src="https://sabiekah-olshop.s3.ap-southeast-1.amazonaws.com/main/sabiekah.png" alt="" width="100px" height="100px">
                </div>
                <p style="text-align: justify;">Sabiekah (House of Basiba) berdiri pada bulan Februari 2021 dan merupakan sebuah unit usaha yang berada di bawah naungan Diniyyah Pilar Usaha Perguruan Diniyyah Puteri Padang Panjang</p>
                <br>
                <p>Terhubung dan Pemesanan :</p>
                <br>
                <ul class="social-footer">
                    <li>
                      <a href="#" title="">
                        <span><i class="fa-brands fa-instagram"></i></span>
                      </a>
                    </li>
                    <li>
                      <a href="#" title="">
                        <span><i class="fa-brands fa-facebook"></i></span>
                      </a>
                    </li>
                    <li>
                      <a href="#" title="">
                        <span><i class="fa-brands fa-tiktok"></i></span>
                      </a>
                    </li>
                    <li>
                        <a href="#" title="">
                          <span><img src="https://sabiekah-olshop.s3.ap-southeast-1.amazonaws.com/main/tokopedia.png" alt="" width="30px" height="30px"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="">
                            <span><img src="https://sabiekah-olshop.s3.ap-southeast-1.amazonaws.com/main/shopee.png" alt="" width="30px" height="30px"></span>
                        </a>
                    </li>
                </ul>
            </div>  
            <div class="col-6 p-4">
                <p class="m-0 text-center fw-bold">Hubungi Kami</p>
                <br>
                <p><i class="fa-solid fa-envelope"></i> <span style="margin: 1rem;">sabiekahofficial@gmail.com</span></p> 
                <p><i class="fa-brands fa-whatsapp"></i> <span style="margin: 1rem;">+62 852-6495-8844</span></p> 
                <p><i class="fa-brands fa-whatsapp"></i> <span style="margin: 1rem;">+62 813-6347-6065</span></p>
                <p><i class="fa-solid fa-location-dot"></i> <span style="margin: 1rem; text-align: justify;">Jl. Soekarno Hatta No.98 Bukit Surungan Kec. Padang Panjang Barat Kota Padang Panjang Sumatera Barat, Kode Pos 27118</span></p>
            
                <div class="responsive-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.688777082815!2d100.39564141478978!3d-0.4617103996631423!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2fd5251f7c73f63d%3A0x1a9e464b68ce72a5!2sPerguruan%20Diniyyah%20Puteri%20Padang%20Panjang!5e0!3m2!1sen!2sid!4v1669558611729!5m2!1sen!2sid" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <div class="col-3 p-4">
                <p class="m-0 text-center fw-bold">Anda Baru Di Sabiekah?</p>
                <br>
                <p style="text-align: justify;">Subscribe untuk mendapatkan penawaran spesial, giveaway, dan penawaran terbatas</p>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="footer-input" placeholder="Masukkan Email Anda" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <button class="btn" type="button" id="button-addon2" style="background-color: #DCB657; color:azure; font-weight:bold; font-size:smaller;">Subscribe</button>
                </div>
                <br>
                <p class="m-0 text-center fw-bold">Pengiriman</p><br>
                <div style="text-align: center;">
                    <span>
                        <img src="https://vectrostudio.com/wp-content/uploads/2020/01/JNE-Logo_vectrostudio.jpg" alt="Logo JNE" width="50px" height="30px">
                    </span>
                    <span>
                        <img src="https://conandaily.files.wordpress.com/2020/03/jt-express-.jpg" alt="Logo J&T" width="50px" height="30px">
                    </span>
                    <span>
                        <img src="https://vectrostudio.com/wp-content/uploads/2020/03/Sicepat-Express-Logo-Vector2.jpg" alt="Logo SiCepat" width="50px" height="30px">
                    </span>
                </div>
                <br>
                <p class="m-0 text-center fw-bold">Pembayaran</p><br>
                <div style="text-align: center;">
                    <span>
                        <img src="https://vectrostudio.com/wp-content/uploads/2019/11/Bank-BRI-Logo_vectrostudio.jpg" alt="Logo BRI" width="50px" height="30px">
                    </span>
                    <span>
                        <img src="https://images.bisnis.com/posts/2021/02/24/1360238/logo-bank-syariah-indonesia-1.jpg" alt="Logo BSI" width="50px" height="30px">
                    </span>
                    <span>
                        <img src="https://seeklogo.com/images/B/bank-nagari-logo-8CEBBD6CB1-seeklogo.com.png" alt="Logo Bank Nagari" width="50px" height="30px">
                    </span>
                    <span>
                        <img src="https://vectrostudio.com/wp-content/uploads/2019/10/Logo-BNI-46.jpg" alt="Logo BNI" width="50px" height="30px">
                    </span>
                    <span>
                        <img src="https://vectrostudio.com/wp-content/uploads/2020/01/Bank-Central-Asia-BCA-Logo_vectrostudio.jpg" alt="Logo BCA" width="50px" height="30px">
                    </span>
                </div>
            </div>
        </div>
        <hr class="mt-3">
        <p class="mt-2 text-center">Copyright &copy; 2022 | Sabiekah</p>
    </div>
</footer>