<section id="main-catalog" class="mt-5">
    <div id="main-catalog-header" style="text-align: center;" class="mb-5">
        <h3>Belanja Sesuai Kebutuhan</h3>
        <p style="color: #9C9C9C; font-weight: bolder;">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <div class="container-fluid">
            <div id="catalog-carousel" class="carousel slide carousel-2 " data-bs-ride="carousel">
                <div class="carousel-inner carousel-inner-catalogue row w-100 mx-auto">
                  <div class="carousel-item carousel-item-catalogue col-4 active">
                    <div class="card">
                      <img class="card-img-top img-fluid" src="https://images.tokopedia.net/img/cache/500-square/VqbcmM/2022/7/22/ff654efa-f390-4252-942d-2663995828a9.png" alt="Basiba Series">
                      <div class="carousel-caption d-none d-md-block">
                        <h3>Basiba Series</h3>
                      </div>                
                    </div>
                  </div>
                  <div class="carousel-item carousel-item-catalogue col-4">
                    <div class="card">
                      <img class="card-img-top img-fluid" src="https://images.tokopedia.net/img/cache/700/VqbcmM/2022/7/22/485a94c6-47d9-4c81-9b4d-cb28ed87080a.png" alt="Card image cap">
                      <div class="carousel-caption d-none d-md-block">
                        <h3>Hijab</h3>
                      </div>   
                    </div>
                  </div>
                  <div class="carousel-item carousel-item-catalogue col-4">
                    <div class="card">
                      <img class="card-img-top img-fluid" src="https://cf.shopee.co.id/file/990b8f436d667ab86cce86c5c1f3892b" alt="Card image cap">
                      <div class="carousel-caption d-none d-md-block">
                        <h3>Tunik</h3>
                      </div>   
                    </div>
                  </div>
                  <div class="carousel-item carousel-item-catalogue col-4">
                    <div class="card">
                      <img class="card-img-top img-fluid" src="https://cf.shopee.co.id/file/f4a7b216f8a73bbc1212f0902312a7dc" alt="Card image cap">
                      <div class="carousel-caption d-none d-md-block">
                        <h3>Kulot</h3>
                      </div>   
                    </div>
                  </div>
                  <div class="carousel-item carousel-item-catalogue col-4">
                    <div class="card">
                      <img class="card-img-top img-fluid" src="https://cf.shopee.co.id/file/37bf3ebf0230a47cb579244f0194fdbc" alt="Card image cap">
                      <div class="carousel-caption d-none d-md-block">
                        <h3>Skirt</h3>
                      </div>   
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#catalog-carousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#catalog-carousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div> 
    </div>
</section>