<section id="main-new-article" class="mt-5">
    <div id="main-new-article-header" style="text-align: center;" class="mb-5">
        <h3>Artikel Terbaru</h3>
        <p style="color: #9C9C9C; font-weight: bolder;">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <div class="container-fluid">
            <div id="article-carousel" class="carousel slide carousel-2" data-bs-ride="carousel">
                <div class="carousel-inner carousel-inner-article row w-100 mx-auto">
                  <div class="carousel-item carousel-item-article col-4 active">
                    <div class="card">
                      <img class="card-img-top img-fluid" src="https://picsum.photos/seed/1/800/600" alt="Card image cap">
                      <div class="card-body">
                        <h4 class="card-title">Card 1</h4>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                      </div>                
                    </div>
                  </div>
                  <div class="carousel-item carousel-item-article col-4">
                    <div class="card">
                      <img class="card-img-top img-fluid" src="https://picsum.photos/seed/2/800/600" alt="Card image cap">
                      <div class="card-body">
                        <h4 class="card-title">Card 1</h4>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item carousel-item-article col-4">
                    <div class="card">
                      <img class="card-img-top img-fluid" src="https://picsum.photos/seed/3/800/600" alt="Card image cap">
                      <div class="card-body">
                        <h4 class="card-title">Card 1</h4>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                      </div>   
                    </div>
                  </div>
                  <div class="carousel-item carousel-item-article col-4">
                    <div class="card">
                      <img class="card-img-top img-fluid" src="https://picsum.photos/seed/6/800/600" alt="Card image cap">
                      <div class="card-body">
                        <h4 class="card-title">Card 1</h4>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                      </div>   
                    </div>
                  </div>
                  <div class="carousel-item carousel-item-article col-4">
                    <div class="card">
                      <img class="card-img-top img-fluid" src="https://picsum.photos/seed/7/800/600" alt="Card image cap">
                      <div class="card-body">
                        <h4 class="card-title">Card 1</h4>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                      </div>   
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#article-carousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#article-carousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div> 
    </div>
</section>