<div class="container px-3 px-lg-4 mt-5" style="text-align: center;">
    <h2>{{subcategory.name}}</h2>
    <h6 style="color: #9C9C9C;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos corrupti modi, repudiandae placeat illo adipisci accusamus aspernatur vitae quaerat quia quae facilis autem maxime excepturi magnam odio corporis laboriosam. Maiores!</h6>
    <div class="row mt-5">
        <div class="col" style="text-align:start;">
            <!-- <button type="button" class="btn btn-light" id="btn-filter" style="border: 1px solid #737373; color:#737373; border-radius: 25px;" data-bs-toggle="modal" data-bs-target="#modalLogin"><span><i class="fa-solid fa-filter"></i></span> Filter</button> -->
            <button type="button" class="btn btn-light" id="btn-filter" style="border: 1px solid #737373; color:#737373; border-radius: 25px;"><span><i class="fa-solid fa-filter"></i></span> Filter</button>
        </div>
        <div class="col" style="text-align:end;">
            <div class="dropdown" id="dropdown-sort">
                <button class="btn btn-light dropdown-toggle" type="button"data-toggle="dropdown" data-bs-toggle="dropdown" aria-expanded="false" style="border: 1px solid #737373; color:#737373; border-radius: 25px;">
                    Urutkan Berdasarkan : Tanggal Terbaru
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Tanggal Terbaru</a></li>
                  <li><a class="dropdown-item" href="#">Tanggal Terlama</a></li>
                  <li><a class="dropdown-item" href="#">Harga Tertinggi</a></li>
                  <li><a class="dropdown-item" href="#">Harga Terendah</a></li>
                </ul>
              </div>
        </div>
    </div>
</div>