<div style="background-color: #F7F7F7; border-radius: 8px;" id="sidebar-left">
    <div class="container px-3 px-lg-4 mt-3" style="text-align: center;">
        <div class="row">
            <div class="col" style="text-align: start;">
                <h3><span class="badge" style="background-color: #C59327; color: #F7F7F7; font-weight: bolder;">Filter</span></h3>
            </div>
            <div class="col" style="text-align: end;">
                <a href="" style="color:#C59327;font-weight: bolder;" class="text-decoration-none">Reset Filter</a>
                <button type="button" id="close-filter" style="width: 35px;"><i class="bi bi-x-circle"></i></button>
            </div>
        </div>
        <div style="text-align: start;" class="mt-4">
            <h5 style="font-weight: bolder;">Harga</h5>
            <p style="font-size: smaller;">Minimum</p>
            <div class="input-group mb-3">
                <span class="input-group-text" id="minimum">Rp.</span>
                <input type="text" class="form-control" placeholder="Min." aria-label="Username" aria-describedby="minimum">
            </div>
            <p style="font-size: smaller;">Maksimum</p>
            <div class="input-group mb-3">
                <span class="input-group-text" id="maximum">Rp.</span>
                <input type="text" class="form-control" placeholder="Maks." aria-label="Username" aria-describedby="maximum">
            </div>

            <br><h5 style="font-weight: bolder;">Warna</h5>
            <div>
                <span class="dot-large"></span>
                <span class="dot-large"></span>
                <span class="dot-large"></span>
                <span class="dot-large"></span>
                <span class="dot-large"></span> 
            </div>
            <br><h5 style="font-weight: bolder;">Ukuran</h5>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="size-XS">
                <label class="form-check-label" for="size-XS">
                  XS (51)
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="size-S">
                <label class="form-check-label" for="size-S">
                    S (51)
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="size-M">
                <label class="form-check-label" for="size-M">
                  M (51)
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="size-L">
                <label class="form-check-label" for="size-L">
                    L (51)
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="size-XL">
                <label class="form-check-label" for="size-XL">
                  XL (51)
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="size-XXL">
                <label class="form-check-label" for="size-XXL">
                    XXL (51)
                </label>
            </div>
        </div>
        <div class="d-grid gap-2 mt-3">
            <button class="btn" style="background-color: #C59327; color: #F7F7F7; font-weight: bolder;" type="button">Filter</button>
        </div>
    </div>
</div>