{% load humanize %}

<section class="py-2" id="product-card">
    <div class="row justify-content-center">
        <div class="card">
            <div class="row g-0">
                <div class="col-md-4">
                    <div class="d-flex flex-column justify-content-center">
                        {% with product.image.all|first as first_image %}
                            <div class="main_image">
                                <img src="{{first_image.image.url}}" id="main_product_image" width="100%" height="100%">
                            </div>
                        {% endwith %}
                        <div class="thumbnail_images">
                            <ul id="thumbnail">
                                {% for img in product.image.all %}
                                    <li><img onclick="changeImage(this)" src="{{img.image.url}}" width="70"></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="py-3 px-5">
                        <div id="product-detail-middle-upper">
                            <div id="product-detail-title" class="d-flex justify-content-between align-items-center">
                                <p>{{product.title}}</p>
                            </div>
                            <div id="product-detail-sold-count">
                                <p>Terjual 10</p>
                            </div>
                            <div id="product-detail-price">
                                <p>Rp. {{product.price|intcomma}}</p>
                            </div>
                            <hr style="width: 100%; color: #BAD1C2; border: none; height: 4px;">
                        </div>

                        <div id="product-detail-middle-bottom" class="mt-3">
                            <ul class="nav nav-tabs" id="product-detail-middle-bottom-nav-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="description-tab" data-bs-toggle="tab" data-bs-target="#description-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Deskripsi</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="specification-tab" data-bs-toggle="tab" data-bs-target="#specification-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Spesifikasi</button>
                                </li>
                            </ul>
                            <div class="tab-content" id="product-detail-middle-bottom-nav-content">
                                <div class="tab-pane fade show active" id="description-tab-pane" role="tabpanel" aria-labelledby="description-tab" tabindex="0">
                                    <div class="mt-3 p-2">
                                        <p style="text-align: justify; font-size: medium;">{{product.description|safe}}</p>  
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="specification-tab-pane" role="tabpanel" aria-labelledby="specification-tab" tabindex="0">
                                    <div class="mt-3 p-2">
                                        <p style="text-align: justify; font-size: medium;">{{product.size_desc|safe}}</p>  
                                    </div>
                                </div>
                                <hr style="width: 100%; color: #BAD1C2; border: none; height: 4px;">
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>