{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css">
<style>
    /* show 3 items */
    @media (min-width: 768px) {
        /* left or forward direction */
        /* farthest right hidden item must be abso position for animations */
        /* right or prev direction */
        .carousel-2 .carousel-inner .active, .carousel-2 .carousel-inner .active + .carousel-item, .carousel-2 .carousel-inner .active + .carousel-item + .carousel-item {
            display: block;
        }
        .carousel-2 .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left), .carousel-2 .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item, .carousel-2 .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
            transition: none;
        }
        .carousel-2 .carousel-inner .carousel-item-next, .carousel-2 .carousel-inner .carousel-item-prev {
            position: relative;
            transform: translate3d(0, 0, 0);
        }
        .carousel-2 .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
            position: absolute;
            top: 0;
            right: -33.3333%;
            z-index: -1;
            display: block;
            visibility: visible;
        }

        .carousel-2 .carousel-item{
            margin-right: 0 !important;
            margin-left: 0 !important;
        }

        .carousel-2 .card{
            border-radius: 20px;
        }

        #catalog-carousel img{
            border-radius: 20px;
        }

        #article-carousel img{
            border-top-left-radius: 20px 20px;
            border-top-right-radius: 20px 20px;
        }

        .carousel-2 .card-img-top {
            width: 100%;
            height: 25vw;
            object-fit: cover;
        }

        .active.carousel-item-left + .carousel-item-next.carousel-item-left, .carousel-item-next.carousel-item-left + .carousel-item, .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item, .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
            position: relative;
            transform: translate3d(-100%, 0, 0);
            visibility: visible;
        }
        .carousel-2 .carousel-inner .carousel-item-prev.carousel-item-right {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            display: block;
            visibility: visible;
        }
        .active.carousel-item-right + .carousel-item-prev.carousel-item-right, .carousel-item-prev.carousel-item-right + .carousel-item, .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item, .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
            position: relative;
            transform: translate3d(100%, 0, 0);
            visibility: visible;
            display: block;
            visibility: visible;
        }
    }

    .carousel-caption{
        top: 50%;
        transform: translateY(-50%);
        bottom: initial;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d;
        font-size: larger;
    }

     
    .accordion-faq{
        border: none !important;
        padding-left: 30;
        padding-right: 30;
    }
    .accordion-faq .accordion-item{
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        margin-bottom: 15px;
        box-shadow: 5px 5px 10px #EDC87225;
    }
    .accordion-faq .accordion-button{
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .accordion-faq .accordion-collapse{
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: rgba(250, 207, 114, 0.5);
        color: #8D5F13;
    }
</style>
{% endblock style %}

{% block content %}
    {% include 'snippets/main_carousel.html' %}

    <div class="container-fluid" style="padding-left: 10%; padding-right: 10%;">
        {% include 'snippets/main_new_this_week.html' %}
        {% include 'snippets/main_voucher.html' %}
        {% include 'snippets/main_catalog.html' %}
        {% include 'snippets/main_new_article.html' %}
        {% include 'snippets/main_faq.html' %}
    </div>
{% endblock content %}

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function() {
        $("#catalog-carousel").on("slide.bs.carousel", function(e) {
            var $e = $(e.relatedTarget);
            var idx = $e.index();
            var itemsPerSlide = 3;
            var totalItems = $(".carousel-item-catalogue").length;
            
            if (idx >= totalItems - (itemsPerSlide - 1)) {
                var it = itemsPerSlide - (totalItems - idx);
                for (var i = 0; i < it; i++) {
                    // append slides to end
                    if (e.direction == "left"){
                        $(".carousel-item-catalogue")
                        .eq(i)
                        .appendTo(".carousel-inner-catalogue");
                    }else{
                        $(".carousel-item-catalogue")
                        .eq(0)
                        .appendTo($(this).find(".carousel-inner-catalogue"));
                    }
                }
            }
        });

        $("#article-carousel").on("slide.bs.carousel", function(e) {
            var $e = $(e.relatedTarget);
            var idx = $e.index();
            var itemsPerSlide = 3;
            var totalItems = $(".carousel-item-article").length;
            
            if (idx >= totalItems - (itemsPerSlide - 1)) {
                var it = itemsPerSlide - (totalItems - idx);
                for (var i = 0; i < it; i++) {
                    // append slides to end
                    if (e.direction == "left"){
                        $(".carousel-item-article")
                        .eq(i)
                        .appendTo(".carousel-inner-article");
                    }else{
                        $(".carousel-item-article")
                        .eq(0)
                        .appendTo($(this).find(".carousel-inner-article"));
                    }
                }
            }
        });
	});
    

</script>
{% endblock javascript %}
